/* add font */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@font-face {
  font-family: "tc";
  src: url("./STYuanTC.woff");
}

/* bg setting */


body {
  font-family: tc, cwTeXYen, YouYuan;
  color: rgb(84, 92, 102);  
  /* padding: 0px;
  margin: 0px; */
}

.bigFatContainer {
  background-image: url(./start-page/start-up.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.happyjai {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 160px;
}

.helloframe {
  width: 60%;
  padding: 30px 20px;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 230px;
}

.helloframe p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.startBTN {
  color: aliceblue;
  background-color: #535c67;
  text-align: center;
  margin: 10px 0px;
  padding: 10px 1px; 
  border-radius: 15px;
  text-decoration: none;
  box-shadow: none;
  border: none;
}

.tri {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 0;
  border-bottom: 60px solid rgb(255, 255, 255);
  position: absolute;
  bottom: -30px;
  right: 30px;
  transform: rotateZ(150deg);
}

.teamName {
  color: rgb(84, 92, 102);
  position: absolute;
  bottom: 5px;
}
