img{
    width:100%
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

/* body{
    background-color: orange;
    overflow: hidden;
} */

.bigFatContainer{
    background-color: orange;
    width: fit-content;
    padding-top: 45px;
    position: relative;
}

.resultPhoto{
    width: 250px;
    position: absolute;
    /* margin-left: 60px;
    margin-top: -235px; */
    right: 10px;
    top: 60px;
    z-index: 2;


}
.containerii {
    background-color: white;
    margin-top: 160px;
    /* margin-left: 0px; */
    border-top-left-radius: 150px;
    position: relative;
    overflow: hidden;
}  

.content{
    padding: 70px 60px 70px 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    position: relative;
    /* margin-bottom: 80px; */
}



.name{
    font-size: 30px;
}

.NO{
    position: absolute;
    right: -70px;
    font-weight: 900;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 30px;
    padding-right: 100px;
    color: aliceblue;
    background-color: orange;
}

.title{
    margin-bottom: 40px;
}

.description{
    margin-bottom: 40px;
}

.others{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.frd{
    font-size: 10px;
    margin-top: 15px;
}

.best{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 15px 40px 0px rgba(0,0,0,0.79);

}

.worse{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 15px 40px 0px rgba(0,0,0,0.79);
}

.hill{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 8px 0;
    align-items: center;
    /* justify-content: center; */
}

.left{
    margin-right: 160px;
}

.suggestion{
    margin-bottom: 20px;
}

/* .container2 {
    background-color: white;
    margin-top: 300px;
    margin-left: 0px;
    border-top-left-radius: 300px;
}  */

/* .content{
    padding: 180px 0px 180px 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    position: relative;
    margin-bottom: 80px;
}

#ci{
    position: absolute;
    margin-left: 150px;
    margin-top: -600px;
    width: 90%;
    flex-wrap: nowrap;
}

.name{
    font-size: 100px;
    flex-wrap: nowrap;
}

.NO{
    font-size: 40px;
    margin-left: 400px;
}

.discription{
    font-size: 40px;
    margin-right: 60px;

} */ 